<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/regisstyle.css">
</head>

<body>
    <h1> 회원가입 </h1>
    <main>
        <form action="" method="POST" onsubmit="return change_go2()">
            {% csrf_token %}
            <fieldset class="name_birth">
                <legend class="skip">정보</legend>
                <ul>
                    <li>
                        <label for="name">이름</label>
                        <input type="text" placeholder="이름" id="name" name=name required />
                    </li>

                    <div class="genderdiv">
                        <label class="genderBtn">
                            <input type="radio" id="genderBtnM" name="gender" value="M" required>
                            <span>남자</span>
                        </label>

                        <label class="genderBtn">
                            <input type="radio" id="genderBtnW" name="gender" value="W">
                            <span>여자</span>
                        </label>
                    </div>
                    <li>
                        <label for="jumin">주민등록번호</label>
                        <span><input type="text" name="jumin1" class="jumin1" id="jumin1" maxlength="6"
                                placeholder="앞 6자리" oninput="inputNum1(this.id)" required> </span>
                        -
                        <span class="jumin2span"><input type="text" name="jumin2" class="jumin2" id="jumin2"
                                maxlength="1" oninput="inputNum2(this.id)" required> * * * * * *</span>
                    </li>
                    <li class="error jumin_error">주민등록번호와 성별이 일치하지 않습니다.</li>
                    <li class="address">
                        <label for="address">주소</label> <!-- 여기에다가 주소api넣어보기-->
                        <input type="text" id="sample4_postcode" placeholder="우편번호" class="address_num" name="address_num">
                        <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" class="address_Btn"
                            id="address_Btn" name="address_Btn">
                        <input type="text" id="sample4_roadAddress" placeholder="도로명주소" vlaue="" name="address_doro" readonly>
                        <!--readonly를 사용하여 수정 불가하게끔-->
                        <input type="text" id="sample4_jibunAddress" placeholder="지번주소" value="" name="address_jibun" readonly>
                        <!--readonly를 사용하여 수정 불가하게끔-->
                        <span id="guide" style="color:#999;display:none; margin-bottom: 10px;"></span>
                        <input type="text" id="sample4_detailAddress" placeholder="상세주소" value="" name="address_detail" required />
                        <input type="hidden" id="sample4_extraAddress" placeholder="참고항목"> <!--이부분은 hidden으로 숨긴다-->
                    </li>
                </ul>
            </fieldset>

            <fieldset class="user_info">
                <ul>
                    <li>
                        <label for="id" class="idlabel">아이디 (6~10자리)</label>
                        <input type="text" id="id" class="id" placeholder="6~10자리 입력해주세요" name=id required />
                        <input type="button" id="check_button" value="ID 중복 검사" class="checkid" />
                    </li>
                    <!-- error 코드 hidden -->
                    <li class="error id_error">6~10 자리 사이로 입력해야합니다.</li>
                    <li>
                        <label for="password">비밀번호 (8자리 이상)</label>
                        <input type="password" id="password" placeholder="특수문자 & 영어 & 숫자 포함 " name="password"
                            required />
                    </li>
                    <!-- error 코드 hidden -->
                    <li class="error pw_error">특수문자 & 영어 포함 / 8자리 이상 입력해야합니다.</li>
                    <li>
                        <label for="re_password">비밀번호 확인</label>
                        <input type="password" id="re_password" name="re_password" placeholder="비밀번호 재입력" required />
                    </li>
                    <!-- error 코드 hidden -->
                    <li class="error re_pw_error">비밀번호와 일치하지 않습니다</li>
                    <li>
                        <label for="email">이메일(선택)</label>
                        <div class="emailbox">
                            <input type="text" name="emailId" id="emailId" class="emailId"
                                onchange="change_go2(this.form)" value="">
                            @
                            <input class="box" id="domain-txt" name="domain-txt" type="text" value="">
                            <select class="box" id="domain-list">
                                <option value="type">직접 입력</option>
                                <option value="naver.com">naver.com</option>
                                <option value="google.com">google.com</option>
                                <option value="hanmail.net">hanmail.net</option>
                                <option value="nate.com">nate.com</option>
                                <option value="kakao.com">kakao.com</option>
                            </select>
                            <input type="hidden" id="domain-hidden" name="domain-hidden" value="">
                        </div>
                    </li>
                    <li>
                        <label for="fileupload">대표 이미지</label>
                        <input type="file" name="imgfile" id="imgfile" class="imgfile">
                    </li>
                </ul>
            </fieldset>

            <input type="submit" name="finsh" value="회원가입" />
        </form>

    </main>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        //kakao 주소 API
        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample4_postcode').value = data.zonecode;
                    document.getElementById("sample4_roadAddress").value = roadAddr;
                    document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if (roadAddr !== '') {
                        document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("sample4_extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }

            }).open();
        }
    </script>
    <script src="../static/js/registscript.js"></script>
</body>

</html>