<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>

    <link rel="stylesheet" type="text/css" th:href="@{/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/mypagestyle.css}">


</head>

<body>

    <div class="mypage">
        <main>
            <h1>My Page</h1>
            <div>
                <form action="uploadProfileImage" method="post" enctype="multipart/form-data" id="imgform">
                    <div class="profile-image">
                        <img id="image"
                            th:src="${user.profileImage} != null ? 'data:image/' + ${user.imageExtension} + ';base64,' + ${user.profileImage} : '/images/origin.png'"
                            alt="Profile image">
                            <!-- ?이용 if문 사용. -->
                            <!--data:image/ = 데이타가 이미지이다. ${user.imageExtension} = 확장자 , ';base64,' = 데이터가 base64로 인코딩 됨을 뜻함 ${user.profileImage} = 이미지 데이터-->
                            <!--'/images/origin.png' = 만약 null이라면 지정한 origin.png로 나올 수 있게.-->
                        <input type="file" id="imageFile" name="imageFile">
                        <input type="hidden" name="idvalue" id="idvalue" th:value="${user.userId}">
                        <input type="submit" value="Upload" id="uploadButton">
                    </div>
                </form>
            </div>

            <fieldset class="name_phone_id_email">
                <legend class="skip">정보</legend>
                <ul>
                    <!-- 이름 입력 창 -->
                    <li>
                        <label for="name">이름</label>
                        <input type="text" th:value="${user.userName}" id="name" name=name readonly />
                    </li>
                    <!-- 핸드폰 번호 입력창 -->
                    <li>
                        <label for="phone1">핸드폰 번호</label>
                        <input type="tel" name="phone1" id="phone1"
                            th:value="${#strings.substring(user.userPhone, 0, 3)}" style="width: 124px;" readonly> -
                        <input type="tel" name="phone2" id="phone2"
                            th:value="${#strings.substring(user.userPhone, 3, 7)}" style="width: 125px;" readonly> -
                        <input type="tel" name="phone3" id="phone3"
                            th:value="${#strings.substring(user.userPhone, 7)}" style="width: 125px;" readonly>
                    </li>
                    <li>
                        <label for="id" class="idlabel">사용자 아이디</label>
                        <input type="text" id="id" class="id" th:value="${user.userId}" name="idvalue" readonly />
                    </li>
                    <li th:with="emailSplit=${user.userEmail.split('@')}">
                        <label for="emailId">이메일</label>
                        <div class="emailbox">
                            <input type="text" name="emailId" id="emailId" class="emailId" th:value="${emailSplit[0]}"
                                readonly>
                            @
                            <label for="emailDomain"></label>
                            <input class="email2" id="emailDomain" name="emailDomain" type="text"
                                th:value="${emailSplit[1]}" readonly>
                        </div>
                    </li>
                    <!-- 주소입력 창 -->

                </ul>
            </fieldset>
            <!-- 아이디 비밀번호 이메일 창 -->
            <fieldset class="user_info">
                <div>
                    <form action="updatePw" method="post" id="signupForm" class="bigform">
                        <ul>
                            <input type="hidden" name="idvalue2" id="idvalue2" th:value="${user.userId}">
                            <li>
                                <label for="newPw">비밀번호 (8자리 이상)</label>
                                <input type="password" id="newPw" placeholder="특수문자 & 영어 & 숫자 포함 " name="newPw"
                                    onblur="pw_Blur()" />
                            </li>
                            <!-- error 코드 hidden -->
                            <li class="error pw_error">특수문자 & 영어 포함 / 8자리 이상 입력해야합니다.</li>
                            <!-- 비밀번호 확인 입력 창 -->
                            <li>
                                <label for="re_newPw">비밀번호 확인</label>
                                <input type="password" id="re_newPw" name="re_newPw" placeholder="비밀번호 재입력"
                                    onblur="re_pw_Blur()" />
                            </li>
                            <!-- error 코드 hidden -->
                            <li class="error re_pw_error">비밀번호와 일치하지 않습니다</li>
                        </ul>
                        <input type="submit" name="change" value="수정하기" />
                    </form>
                </div>

            </fieldset>


            <form>
                <input type="button" name="cancel" value="취소하기" id="cancelButton" />
            </form>
        </main>


    </div>
    <!-- 이부분안에 주석처리된것은 thymeleaf의 javascript문법이다.
        /*[[${message}]]*/ message에 값이 있으면 출력, 없으면 뒷 메시지 출력한다.-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var message1 = /*[[${message}]]*/ 'default message';
        var error1 = /*[[${error}]]*/ 'default error';
        var message2 = /*[[${successMessage}]]*/ 'default message';
        var error2 = /*[[${errorMessage}]]*/ 'default error';
        if (message1) { alert(message1); }
        if (error1) { alert(error1); }
        if (message2) { alert(message2); }
        if (error2) { alert(error2); }
        /*]]>*/
    </script>
    <script>
        const input_pw = document.querySelector('input[name=newPw]');
        const input_re_pw = document.querySelector('input[name=re_newPw]');

        const pw_error = document.querySelector('.pw_error');
        const re_pw_error = document.querySelector('.re_pw_error');

        function pw_Blur() { // password 값
            const passwordValue = input_pw.value;
            const have_english_specialChar = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-])/.test(passwordValue); // 영어 숫자 특수문자 포함

            if (passwordValue.length < 8 || !have_english_specialChar) { //8자리 미만이거나, 영어 숫자 특수문자가 포함안될경우 error표시
                pw_error.style.display = 'block';
                return;
            } else { pw_error.style.display = 'none'; }
        }

        function re_pw_Blur() { // 비밀번호 확인 값
            const passwordValue = input_pw.value;
            const re_passwordValue = input_re_pw.value;
            if (re_passwordValue !== passwordValue) {
                re_pw_error.style.display = 'block';
                return;
            } else { re_pw_error.style.display = 'none'; }
        }

        document.getElementById('imgform').addEventListener('submit', function () {
            localStorage.setItem('idvalue', document.getElementById('idvalue').value);
        });

        document.getElementById('cancelButton').addEventListener('click', function () {
            window.location.href = 'http://localhost:8000/';
        });

    </script>
</body>


</html>